<!-- Menu -->
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Ya veremos que agregar aquí</ion-content>
</ion-menu>
<!-- Header -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="tittleMarketList">MarketList</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido -->
  <ion-content class="ion-padding">
    <ng-container *ngFor="let category of getCategorizedItems() | keyvalue">
      <h3>{{ category.key }}</h3> <!-- Nose si queda mejor dentro o fuera del card la categoria te lo dejo a tu criterio -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ category.key }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item-sliding *ngFor="let item of category.value">
            <ion-item>
              <ion-checkbox mode="ios" labelPlacement="end" [checked]="item.checked"
                (ionChange)="checkboxChanged(item)">
                <h2>{{ item.name }}</h2>
                <p>Cantidad: {{ item.quantity }}</p>
              </ion-checkbox>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">Eliminar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-content>
</div>


<!-- Fab -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" mode="ios">
  <ion-fab-button class="modalButton" id="open-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Modal -->
<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <div class="toolHeader">
          <ion-title class="tittleModal">
            Añadir producto
          </ion-title>
          <ion-buttons class="toolButton">
            <ion-button (click)="cancel()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-input class="inputProducto" shape="round" label="Nombre del Producto" label-placement="floating"
        fill="outline" [(ngModel)]="product.name" name="name"></ion-input>
      <div class="input-container">
        <ion-input class="inputCantidad" type="number" shape="round" label="Cantidad" label-placement="floating"
          fill="outline" [(ngModel)]="product.quantity" name="quantity"></ion-input>
      </div>
      <div class="inputCategoria">
        <ion-select interface="popover" shape="round" label="Seleccionar Categoría" label-placement="floating"
          fill="outline" [(ngModel)]="product.category" name="category">
          <ion-select-option value="Verdura">Verdura</ion-select-option>
          <ion-select-option value="Fruta">Fruta</ion-select-option>
          <ion-select-option value="Carnes">Carnes</ion-select-option>
          <ion-select-option value="Lacteos">Lacteos</ion-select-option>
          <ion-select-option value="Dulces">Dulces</ion-select-option>
          <ion-select-option value="Liquidos">Liquidos</ion-select-option>
          <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
      </div>
      <ion-button shape="round" class="agregarButton" (click)="addProducts()">Agregar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>