.tittleModal {
    text-align: center;
}

.inputProducto {
    width: 90%;
    margin: 20px auto;
}

.inputCantidad {
    width: 90%;
    margin: 20px auto;
}

.inputUnidad {
    width: 90%;
    margin: 20px auto;
}

.inputCategoria {
    width: 90%;
    margin: 20px auto;
}

.boton {
    width: 50%;
    margin: 20px auto;
    display: flex;
}