.tittleModal {
    text-align: center;
}

.inputProducto {
    width: auto;
    margin: 20px;
}

.inputCantidad {
    width: 20vh;
    margin: auto;
}

.inputUnidad {
    display: flex;
    width: 20vh;
    margin: auto;
}

.inputCategoria {
    width: auto;
    margin: 20px;
}