<ion-header>
  <ion-toolbar>
    <ion-title class="tittleModal">
      Añadir producto
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input class="inputProducto" shape="round" label="Nombre del Producto" label-placement="floating"
    fill="outline"></ion-input>
  <div class="input-container">
    <ion-input class="inputCantidad" shape="round" label="Cantidad" label-placement="floating"
      fill="outline"></ion-input>
  </div>
  <div class="inputCategoria">
    <ion-select interface="popover" shape="round" label="Seleccionar Categoría" label-placement="floating"
      fill="outline">
      <ion-select-option value="verdura">Verdura</ion-select-option>
      <ion-select-option value="fruta">Fruta</ion-select-option>
      <ion-select-option value="carnes">Carnes</ion-select-option>
      <ion-select-option value="lacteos">Lacteos</ion-select-option>
      <ion-select-option value="dulces">Dulces</ion-select-option>
      <ion-select-option value="liquidos">Liquidos</ion-select-option>
    </ion-select>
  </div>
  <ion-button shape="round" color="success" class="boton">Agregar</ion-button>

</ion-content>