.tittleModal {
    text-align: center;
}

.toolHeader {
    display: flex;
}


.toolButton {
    align-items: end;
    justify-content: end;
}

.inputProducto {
    width: 90%;
    margin: 20px auto;
}

.inputCantidad {
    width: 90%;
    margin: 20px auto;
}

.inputUnidad {
    width: 90%;
    margin: 20px auto;
}

.inputCategoria {
    width: 90%;
    margin: 20px auto;
}

.boton {
    width: 50%;
    margin: 20px auto;
    display: flex;
    --background: #b7f399;
    --background-activated: #87d361;
    --background-hover: #a3e681;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
}